/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8;
}
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden;
}
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box;
}
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
	display: none;
}
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto;
}
.mfp-ajax-cur {
	cursor: progress;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
.mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
	cursor: auto;
}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.mfp-loading.mfp-figure {
	display: none;
}
.mfp-hide {
	display: none;
}
.mfp-preloader {
	color: #CCC;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044;
}
.mfp-preloader a {
	color: #CCC;
}
.mfp-preloader a:hover {
	color: #FFF;
}
.mfp-s-ready .mfp-preloader {
	display: none;
}
.mfp-s-error .mfp-content {
	display: none;
}
button.mfp-close, button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation;
}
 button::-moz-focus-inner {
 padding: 0;
 border: 0;
}
.mfp-close {
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65;
	padding: 0 0 18px 10px;
	color: #FFF;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,  .mfp-close:focus {
	opacity: 1;
}
.mfp-close:active {
	top: 1px;
}
.mfp-close-btn-in .mfp-close {
	color: #333;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	color: #FFF;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%;
}
.mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap;
}
.mfp-arrow {
	position: absolute;
	opacity: 0.65;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
	margin-top: -54px;
}
.mfp-arrow:hover,  .mfp-arrow:focus {
	opacity: 1;
}
.mfp-arrow:before,  .mfp-arrow:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 35px;
	margin-left: 35px;
	border: medium inset transparent;
}
.mfp-arrow:after {
	border-top-width: 13px;
	border-bottom-width: 13px;
	top: 8px;
}
.mfp-arrow:before {
	border-top-width: 21px;
	border-bottom-width: 21px;
	opacity: 0.7;
}
.mfp-arrow-left {
	left: 0;
}
.mfp-arrow-left:after {
	border-right: 17px solid #FFF;
	margin-left: 31px;
}
.mfp-arrow-left:before {
	margin-left: 25px;
	border-right: 27px solid #3F3F3F;
}
.mfp-arrow-right {
	right: 0;
}
.mfp-arrow-right:after {
	border-left: 17px solid #FFF;
	margin-left: 39px;
}
.mfp-arrow-right:before {
	border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
	line-height: 0;
	width: 100%;
	max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
	top: -40px;
}
.mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
}
/* Main image in popup */
img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	box-sizing: border-box;
	padding: 40px 0 40px;
	margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
	line-height: 0;
}
.mfp-figure:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 40px;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #444;
}
.mfp-figure small {
	color: #BDBDBD;
	display: block;
	font-size: 12px;
	line-height: 14px;
}
.mfp-figure figure {
	margin: 0;
}
.mfp-bottom-bar {
	margin-top: -36px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto;
}
.mfp-title {
	text-align: left;
	line-height: 18px;
	color: #F3F3F3;
	word-wrap: break-word;
	padding-right: 36px;
}
.mfp-image-holder .mfp-content {
	max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
/**
       * Remove all paddings around the image on small screen
       */
.mfp-img-mobile .mfp-image-holder {
	padding-left: 0;
	padding-right: 0;
}
.mfp-img-mobile img.mfp-img {
	padding: 0;
}
.mfp-img-mobile .mfp-figure:after {
	top: 0;
	bottom: 0;
}
.mfp-img-mobile .mfp-figure small {
	display: inline;
	margin-left: 5px;
}
.mfp-img-mobile .mfp-bottom-bar {
	background: rgba(0, 0, 0, 0.6);
	bottom: 0;
	margin: 0;
	top: auto;
	padding: 3px 5px;
	position: fixed;
	box-sizing: border-box;
}
.mfp-img-mobile .mfp-bottom-bar:empty {
	padding: 0;
}
.mfp-img-mobile .mfp-counter {
	right: 5px;
	top: 3px;
}
.mfp-img-mobile .mfp-close {
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	text-align: center;
	padding: 0;
}
}

@media all and (max-width: 900px) {
.mfp-arrow {
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
}
.mfp-arrow-left {
	-webkit-transform-origin: 0;
	transform-origin: 0;
}
.mfp-arrow-right {
	-webkit-transform-origin: 100%;
	transform-origin: 100%;
}
.mfp-container {
	padding-left: 6px;
	padding-right: 6px;
}
}
/* Popup */
.left-panel-profile-info {
	background-color: #fff;
	position: fixed;
	left: 70px;
	width: 300px;
	color: #000;
	z-index: 100;
	height: 100%;
	display: none;
}
.aq-bg {
	position: fixed;
	left: 70px;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
}
.left-panel-profile-inner span.aq-stats {
	float: right;
}
.left-panel-profile-inner span.aq-views {
	margin-right: 10px;
}
.left-panel-profile-inner {
	padding: 40px;
}
.aq-full-name {
	font-size: 18px;
}
.lp-profile-action {
	margin: 40px 0px;
}
.lp-user-aquariums h3 {
	font-size: 16px;
}
.lp-profile-action, .lp-profile-action a {
	font-size: 12px;
	color: #297fb9;
}
.lp-user-aquariums li a {
	font-size: 12px;
}
.lp-user-aquariums li {
	margin: 24px 0px;
}
.left-panel-profile-inner .user-name {
	font-size: 12px;
}
.lp-footer-actions {
	margin-top: 60px;
}
.aq-photo-item-thumb img {
	width: 100%;
}
.aq-comment-user {
	display: inline-block;
	width: 18%;
}
.um-user-gallery-image-options {
	display: none;
}
.um-user-gallery-left:hover .um-user-gallery-image-options {
	display: block;
}
.aq-comment-text-area {
	display: block;
}
.aq-comment-text-area textarea {
	/* border-left: 0px; */
	width: 100%;
	/* background: aliceblue; */
	/* border-right: 0px; */
	/* border-top: 2px solid #333; */
	/* border-bottom: 2px solid #333; */
	border-radius: 0px;
}
.aq-comment-user img {
	border-radius: 50%;
	padding: 8px 0px;
}
.um-user-gallery-comment-section li {
	list-style: none;
	margin-bottom: 10px;
}
.aq-gallery-comment-list {
	overflow: auto;
	height: 200px;
}
.um-user-gallery-comment-section form#aq-gallery-comment-form {
	padding-top: 0px;
}
.um-user-gallery-comment-section .avatar {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}
.um-user-gallery-comment-section .comment-author {
	float: left;
	width: 18%;
}
.um-user-gallery-comment-section .comment-body:after {
	clear: both;
	display: block;
	content: "";
}
.aq-comment-txt:after {
	display: block;
	content: "";
	clear: both;
}
.aq-comment-txt > span {
	padding-right: 6px;
}
.aq-comment-txt > span, .aq-comment-txt > p {
	display: inline;
	color: #7d7d7d;
}
.aq-comment-txt {
	display: inline-block;
	float: left;
	width: 82%;
}
.aq-comment-txt .fn {
	color: #222c39;
}
.um-user-gallery-comment-section .comment-meta.commentmetadata a {
	color: #c5c5c5;
}
.um-user-gallery-arrow {
	position: absolute;
	z-index: 99;
	top: calc(50% - 37px);
	font-size: 74px;
}
#um-gallery-modal a, .um-user-gallery-arrow a, .um-user-gallery-arrow a:hover, .um-user-gallery-arrow a:focus {
	outline: 0 !important;
}
.um-user-gallery-arrow a {
	color: #fff;
	text-decoration: none;
	outline: 0;
}
.um-user-gallery-arrow a:hover i, .um-user-gallery-options a:hover {
	color: #e6e6e6;
}
.um-user-gallery-arrow.aqm-right-gallery-arrow {
	right: 28px;
}
.um-user-gallery-arrow.aqm-left-gallery-arrow {
	left: 28px;
}
[class*='um-gallery-col-'] {
	float: left;
}
[class*='um-gallery-col-']:last-of-type {
	padding-right: 0;
}
.um-gallery-col-1-4 {
}
.um-gallery-item-wrapper {
	display: block;
}
.um-gallery-item-wrapper:after {
	content: "";
	display: table;
	clear: both;
}
.um-gallery-mask {
	position: absolute;
	overflow: hidden;
	bottom: 8px;
	width: 100%;
	left: 8px;
}
.um-gallery-mask a {
	display: none;
	font-size: 18px;
	padding: 0px 0px 3px 6px;
	background: #3ba1da;
	color: #fff !important;
	border-radius: 50%;
	width: 20px;
	height: 24px;
}

@media (max-width: 480px) {
.um-gallery-slideshow .um-gallery-inner.item img {
	width: 100%;
}
}
.um-gallery-inner:hover .um-gallery-mask a {
	display: block;
}
.um-gallery-inner {
	position: relative;
	padding: 1px;
}
.um-gallery-item {
}
.um-gallery-item:last-child {
}
div.um-gallery-slideshow .um-gallery-inner img {
	margin: 0 auto !important;
	max-height: 600px;
}
.um-profile .um-gallery-carousel {
	margin: auto;
}
 @-webkit-keyframes passing-through {
0% {
opacity: 0;
-webkit-transform: translateY(40px);
-moz-transform: translateY(40px);
-ms-transform: translateY(40px);
-o-transform: translateY(40px);
transform: translateY(40px);
}
 30%, 70% {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
}
 100% {
opacity: 0;
-webkit-transform: translateY(-40px);
-moz-transform: translateY(-40px);
-ms-transform: translateY(-40px);
-o-transform: translateY(-40px);
transform: translateY(-40px);
}
}
@-moz-keyframes passing-through {
0% {
opacity: 0;
-webkit-transform: translateY(40px);
-moz-transform: translateY(40px);
-ms-transform: translateY(40px);
-o-transform: translateY(40px);
transform: translateY(40px);
}
 30%, 70% {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
}
 100% {
opacity: 0;
-webkit-transform: translateY(-40px);
-moz-transform: translateY(-40px);
-ms-transform: translateY(-40px);
-o-transform: translateY(-40px);
transform: translateY(-40px);
}
}
@keyframes passing-through {
0% {
opacity: 0;
-webkit-transform: translateY(40px);
-moz-transform: translateY(40px);
-ms-transform: translateY(40px);
-o-transform: translateY(40px);
transform: translateY(40px);
}
 30%, 70% {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
}
 100% {
opacity: 0;
-webkit-transform: translateY(-40px);
-moz-transform: translateY(-40px);
-ms-transform: translateY(-40px);
-o-transform: translateY(-40px);
transform: translateY(-40px);
}
}
@-webkit-keyframes slide-in {
0% {
opacity: 0;
-webkit-transform: translateY(40px);
-moz-transform: translateY(40px);
-ms-transform: translateY(40px);
-o-transform: translateY(40px);
transform: translateY(40px);
}
 30% {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
}
}
@-moz-keyframes slide-in {
0% {
opacity: 0;
-webkit-transform: translateY(40px);
-moz-transform: translateY(40px);
-ms-transform: translateY(40px);
-o-transform: translateY(40px);
transform: translateY(40px);
}
 30% {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
}
}
@keyframes slide-in {
0% {
opacity: 0;
-webkit-transform: translateY(40px);
-moz-transform: translateY(40px);
-ms-transform: translateY(40px);
-o-transform: translateY(40px);
transform: translateY(40px);
}
 30% {
opacity: 1;
-webkit-transform: translateY(0px);
-moz-transform: translateY(0px);
-ms-transform: translateY(0px);
-o-transform: translateY(0px);
transform: translateY(0px);
}
}
@-webkit-keyframes pulse {
0% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
 10% {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
 20% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
}
@-moz-keyframes pulse {
0% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
 10% {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
 20% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
}
@keyframes pulse {
0% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
 10% {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
}
 20% {
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
}
.dropzone, .dropzone * {
	box-sizing: border-box;
}
.dropzone {
	min-height: 150px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: white;
	padding: 54px 54px;
}
.dropzone.dz-clickable {
	cursor: pointer;
}
.dropzone.dz-clickable * {
	cursor: default;
}
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
	cursor: pointer;
}
.dropzone.dz-started .dz-message {
	display: none;
}
.dropzone.dz-drag-hover {
	border-style: solid;
}
.dropzone.dz-drag-hover .dz-message {
	opacity: 0.5;
}
.dropzone .dz-message {
	text-align: center;
	margin: 2em 0;
}
.dropzone .dz-preview {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 16px;
	min-height: 100px;
}
.dropzone .dz-preview:hover {
	z-index: 1000;
}
.dropzone .dz-preview:hover .dz-details {
	opacity: 1;
}
.dropzone .dz-preview.dz-file-preview .dz-image {
	border-radius: 20px;
	background: #999;
	background: linear-gradient(to bottom, #eee, #ddd);
}
.dropzone .dz-preview.dz-file-preview .dz-details {
	opacity: 1;
}
.dropzone .dz-preview.dz-image-preview {
	background: white;
}
.dropzone .dz-preview.dz-image-preview .dz-details {
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.dropzone .dz-preview .dz-remove {
	font-size: 14px;
	text-align: center;
	display: block;
	cursor: pointer;
	border: none;
}
.dropzone .dz-preview .dz-remove:hover {
	text-decoration: underline;
}
.dropzone .dz-preview:hover .dz-details {
	opacity: 1;
}
.dropzone .dz-preview .dz-details {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	font-size: 13px;
	min-width: 100%;
	max-width: 100%;
	padding: 2em 1em;
	text-align: center;
	color: rgba(0, 0, 0, 0.9);
	line-height: 150%;
}
.dropzone .dz-preview .dz-details .dz-size {
	margin-bottom: 1em;
	font-size: 16px;
}
.dropzone .dz-preview .dz-details .dz-filename {
	white-space: nowrap;
}
.dropzone .dz-preview .dz-details .dz-filename:hover span {
	border: 1px solid rgba(200, 200, 200, 0.8);
	background-color: rgba(255, 255, 255, 0.8);
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
	overflow: hidden;
	text-overflow: ellipsis;
}
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
	border: 1px solid transparent;
}
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0 0.4em;
	border-radius: 3px;
}
.dropzone .dz-preview:hover .dz-image img {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	-webkit-filter: blur(8px);
	filter: blur(8px);
}
.dropzone .dz-preview .dz-image {
	border-radius: 20px;
	overflow: hidden;
	width: 120px;
	height: 120px;
	position: relative;
	display: block;
	z-index: 10;
}
.dropzone .dz-preview .dz-image img {
	display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
	-webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	-o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview.dz-error .dz-error-mark {
	opacity: 1;
	-webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
	-o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
	animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
	pointer-events: none;
	opacity: 0;
	z-index: 500;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-left: -27px;
	margin-top: -27px;
}
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
	display: block;
	width: 54px;
	height: 54px;
}
.dropzone .dz-preview.dz-processing .dz-progress {
	opacity: 1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.dropzone .dz-preview.dz-complete .dz-progress {
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in;
	-moz-transition: opacity 0.4s ease-in;
	-ms-transition: opacity 0.4s ease-in;
	-o-transition: opacity 0.4s ease-in;
	transition: opacity 0.4s ease-in;
}
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
	-webkit-animation: pulse 6s ease infinite;
	-moz-animation: pulse 6s ease infinite;
	-ms-animation: pulse 6s ease infinite;
	-o-animation: pulse 6s ease infinite;
	animation: pulse 6s ease infinite;
}
.dropzone .dz-preview .dz-progress {
	opacity: 1;
	z-index: 1000;
	pointer-events: none;
	position: absolute;
	height: 16px;
	left: 50%;
	top: 50%;
	margin-top: -8px;
	width: 80px;
	margin-left: -40px;
	background: rgba(255, 255, 255, 0.9);
	-webkit-transform: scale(1);
	border-radius: 8px;
	overflow: hidden;
}
.dropzone .dz-preview .dz-progress .dz-upload {
	background: #333;
	background: linear-gradient(to bottom, #666, #444);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	-webkit-transition: width 300ms ease-in-out;
	-moz-transition: width 300ms ease-in-out;
	-ms-transition: width 300ms ease-in-out;
	-o-transition: width 300ms ease-in-out;
	transition: width 300ms ease-in-out;
}
.dropzone .dz-preview.dz-error .dz-error-message {
	display: block;
}
.dropzone .dz-preview.dz-error:hover .dz-error-message {
	opacity: 1;
	pointer-events: auto;
}
.dropzone .dz-preview .dz-error-message {
	pointer-events: none;
	z-index: 1000;
	position: absolute;
	display: block;
	display: none;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	border-radius: 8px;
	font-size: 13px;
	top: 130px;
	left: -10px;
	width: 140px;
	background: #be2626;
	background: linear-gradient(to bottom, #be2626, #a92222);
	padding: 0.5em 1.2em;
	color: white;
}
.dropzone .dz-preview .dz-error-message:after {
	content: '';
	position: absolute;
	top: -6px;
	left: 64px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #be2626;
}
#dropzone {
	margin-bottom: 3rem;
}
.dropzone {
	border: 2px dashed #0087F7;
	border-radius: 5px;
	background: white;
}
.dropzone .dz-message {
	font-weight: 400;
}
.dropzone .dz-message .note {
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	margin-top: 1.4rem;
}
.pp_gallery div, .pp_gallery ul a, .pp_social .facebook {
	float: left;
	overflow: hidden
}
div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right, div.pp_default .pp_top, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_right {
	height: 13px
}
div.pp_default .pp_top .pp_left {
	background: url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat
}
div.pp_default .pp_top .pp_middle {
	background: url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x
}
div.pp_default .pp_top .pp_right {
	background: url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat
}
div.pp_default .pp_content .ppt {
	color: #f8f8f8
}
div.pp_default .pp_content_container .pp_left {
	background: url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
	padding-left: 13px
}
div.pp_default .pp_content_container .pp_right {
	background: url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;
	padding-right: 13px
}
div.pp_default .pp_next:hover {
	background: url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;
	cursor: pointer
}
div.pp_default .pp_previous:hover {
	background: url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;
	cursor: pointer
}
div.pp_default .pp_expand {
	background: url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
	cursor: pointer;
	width: 28px;
	height: 28px
}
div.pp_default .pp_expand:hover {
	background: url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
	cursor: pointer
}
div.pp_default .pp_contract {
	background: url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
	cursor: pointer;
	width: 28px;
	height: 28px
}
div.pp_default .pp_contract:hover {
	background: url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
	cursor: pointer
}
div.pp_default .pp_close {
	width: 30px;
	height: 30px;
	background: url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
	cursor: pointer
}
div.pp_default .pp_gallery ul li a {
	background: url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
	border: 1px solid #aaa
}
div.pp_default .pp_social {
	margin-top: 7px
}
div.pp_default .pp_gallery a.pp_arrow_next, div.pp_default .pp_gallery a.pp_arrow_previous {
	position: static;
	left: auto
}
div.pp_default .pp_nav .pp_pause, div.pp_default .pp_nav .pp_play {
	background: url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
	height: 30px;
	width: 30px
}
div.pp_default .pp_nav .pp_pause {
	background-position: -51px -29px
}
div.pp_default a.pp_arrow_next, div.pp_default a.pp_arrow_previous {
	background: url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
	height: 20px;
	width: 20px;
	margin: 4px 0 0
}
div.pp_default a.pp_arrow_next {
	left: 52px;
	background-position: -82px -3px
}
div.pp_default .pp_content_container .pp_details {
	margin-top: 5px
}
div.pp_default .pp_nav {
	clear: none;
	height: 30px;
	width: 110px;
	position: relative
}
div.pp_default .pp_nav .currentTextHolder {
	font-family: Georgia;
	font-style: italic;
	color: #999;
	font-size: 11px;
	left: 75px;
	line-height: 25px;
	position: absolute;
	top: 2px;
	margin: 0;
	padding: 0 0 0 10px
}
div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover, div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_nav .pp_play:hover {
	opacity: .7
}
div.pp_default .pp_description {
	font-size: 11px;
	font-weight: 700;
	line-height: 14px;
	margin: 5px 50px 5px 0
}
div.pp_default .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat
}
div.pp_default .pp_bottom .pp_middle {
	background: url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x
}
div.pp_default .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat
}
div.pp_default .pp_loaderIcon {
	background: url(../images/prettyPhoto/default/loader.gif) center center no-repeat
}
div.light_rounded .pp_top .pp_left {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat
}
div.light_rounded .pp_top .pp_right {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat
}
div.light_rounded .pp_next:hover {
	background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
	cursor: pointer
}
div.light_rounded .pp_previous:hover {
	background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
	cursor: pointer
}
div.light_rounded .pp_expand {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}
div.light_rounded .pp_expand:hover {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}
div.light_rounded .pp_contract {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}
div.light_rounded .pp_contract:hover {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}
div.light_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}
div.light_rounded .pp_nav .pp_play {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.light_rounded .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.light_rounded .pp_arrow_previous {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat
}
div.light_rounded .pp_arrow_next {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat
}
div.light_rounded .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat
}
div.light_rounded .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat
}
div.dark_rounded .pp_top .pp_left {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat
}
div.dark_rounded .pp_top .pp_right {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat
}
div.dark_rounded .pp_content_container .pp_left {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y
}
div.dark_rounded .pp_content_container .pp_right {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y
}
div.dark_rounded .pp_next:hover {
	background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_previous:hover {
	background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_expand {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_expand:hover {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_contract {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_contract:hover {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}
div.dark_rounded .pp_description {
	margin-right: 85px;
	color: #fff
}
div.dark_rounded .pp_nav .pp_play {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.dark_rounded .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.dark_rounded .pp_arrow_previous {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat
}
div.dark_rounded .pp_arrow_next {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat
}
div.dark_rounded .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat
}
div.dark_rounded .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat
}
div.dark_rounded .pp_loaderIcon {
	background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat
}
div.dark_square .pp_content, div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right {
	background: #000
}
div.dark_square .pp_description {
	color: #fff;
	margin: 0 85px 0 0
}
div.dark_square .pp_loaderIcon {
	background: url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat
}
div.dark_square .pp_expand {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}
div.dark_square .pp_expand:hover {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}
div.dark_square .pp_contract {
	background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}
div.dark_square .pp_contract:hover {
	background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}
div.dark_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}
div.dark_square .pp_nav {
	clear: none
}
div.dark_square .pp_nav .pp_play {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.dark_square .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.dark_square .pp_arrow_previous {
	background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat
}
div.dark_square .pp_arrow_next {
	background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat
}
div.dark_square .pp_next:hover {
	background: url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
	cursor: pointer
}
div.dark_square .pp_previous:hover {
	background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
	cursor: pointer
}
div.light_square .pp_expand {
	background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}
div.light_square .pp_expand:hover {
	background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}
div.light_square .pp_contract {
	background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}
div.light_square .pp_contract:hover {
	background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}
div.light_square .pp_close {
	width: 75px;
	height: 22px;
	background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}
div.light_square .pp_nav .pp_play {
	background: url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.light_square .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
	height: 15px;
	width: 14px
}
div.light_square .pp_arrow_previous {
	background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat
}
div.light_square .pp_arrow_next {
	background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat
}
div.light_square .pp_next:hover {
	background: url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;
	cursor: pointer
}
div.light_square .pp_previous:hover {
	background: url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
	cursor: pointer
}
div.facebook .pp_top .pp_left {
	background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat
}
div.facebook .pp_top .pp_middle {
	background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x
}
div.facebook .pp_top .pp_right {
	background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat
}
div.facebook .pp_content_container .pp_left {
	background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y
}
div.facebook .pp_content_container .pp_right {
	background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y
}
div.facebook .pp_expand {
	background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;
	cursor: pointer
}
div.facebook .pp_expand:hover {
	background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;
	cursor: pointer
}
div.facebook .pp_contract {
	background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
	cursor: pointer
}
div.facebook .pp_contract:hover {
	background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
	cursor: pointer
}
div.facebook .pp_close {
	width: 22px;
	height: 22px;
	background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
	cursor: pointer
}
div.facebook .pp_description {
	margin: 0 37px 0 0
}
div.facebook .pp_loaderIcon {
	background: url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat
}
div.facebook .pp_arrow_previous {
	background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
	height: 22px;
	margin-top: 0;
	width: 22px
}
div.facebook .pp_arrow_previous.disabled {
	background-position: 0 -96px;
	cursor: default
}
div.facebook .pp_arrow_next {
	background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
	height: 22px;
	margin-top: 0;
	width: 22px
}
div.facebook .pp_arrow_next.disabled {
	background-position: -32px -96px;
	cursor: default
}
div.facebook .pp_nav {
	margin-top: 0
}
div.facebook .pp_nav p {
	font-size: 15px;
	padding: 0 3px 0 4px
}
div.facebook .pp_nav .pp_play {
	background: url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;
	height: 22px;
	width: 22px
}
div.facebook .pp_nav .pp_pause {
	background: url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;
	height: 22px;
	width: 22px
}
div.facebook .pp_next:hover {
	background: url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;
	cursor: pointer
}
div.facebook .pp_previous:hover {
	background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
	cursor: pointer
}
div.facebook .pp_bottom .pp_left {
	background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat
}
div.facebook .pp_bottom .pp_middle {
	background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x
}
div.facebook .pp_bottom .pp_right {
	background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat
}
div.pp_pic_holder a:focus {
	outline: 0
}
div.pp_overlay {
	background: #000;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9500
}
div.pp_pic_holder {
	display: none;
	position: absolute;
	width: 100px;
	z-index: 10000
}
.pp_content {
	height: 40px;
	min-width: 40px
}
* html .pp_content {
	width: 40px
}
.pp_content_container {
	position: relative;
	text-align: left;
	width: 100%
}
.pp_content_container .pp_left {
	padding-left: 20px
}
.pp_content_container .pp_right {
	padding-right: 20px
}
.pp_content_container .pp_details {
	float: left;
	margin: 10px 0 2px
}
.pp_description {
	display: none;
	margin: 0
}
.pp_social {
	float: left;
	margin: 0
}
.pp_social .facebook {
	margin-left: 5px;
	width: 55px
}
.pp_social .twitter {
	float: left
}
.pp_nav {
	clear: right;
	float: left;
	margin: 3px 10px 0 0
}
.pp_nav p {
	float: left;
	white-space: nowrap;
	margin: 2px 4px
}
.pp_nav .pp_pause, .pp_nav .pp_play {
	float: left;
	margin-right: 4px;
	text-indent: -10000px
}
a.pp_arrow_next, a.pp_arrow_previous {
	display: block;
	float: left;
	height: 15px;
	margin-top: 3px;
	overflow: hidden;
	text-indent: -10000px;
	width: 14px
}
.pp_hoverContainer {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2000
}
.pp_gallery {
	display: none;
	left: 50%;
	margin-top: -50px;
	position: absolute;
	z-index: 10000
}
.pp_gallery div {
	position: relative
}
.pp_gallery ul {
	float: left;
	height: 35px;
	position: relative;
	white-space: nowrap;
	margin: 0 0 0 5px;
	padding: 0
}
.pp_gallery ul a {
	border: 1px solid rgba(0,0,0,.5);
	display: block;
	height: 33px
}
.pp_gallery ul a img {
	border: 0
}
.pp_gallery li {
	display: block;
	float: left;
	margin: 0 5px 0 0;
	padding: 0
}
.pp_gallery li.default a {
	background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) no-repeat;
	display: block;
	height: 33px;
	width: 50px
}
a.pp_next, a.pp_previous {
	text-indent: -10000px;
	background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display: block;
	height: 100%;
	width: 49%
}
.pp_gallery .pp_arrow_next, .pp_gallery .pp_arrow_previous {
	margin-top: 7px!important
}
a.pp_next {
	float: right
}
a.pp_previous {
	float: left
}
a.pp_contract, a.pp_expand {
	cursor: pointer;
	display: none;
	height: 20px;
	position: absolute;
	right: 30px;
	text-indent: -10000px;
	top: 10px;
	width: 20px;
	z-index: 20000
}
.pp_loaderIcon, a.pp_close {
	display: block;
	position: absolute
}
a.pp_close {
	right: 0;
	top: 0;
	line-height: 22px;
	text-indent: -10000px
}
.pp_loaderIcon {
	height: 24px;
	left: 50%;
	top: 50%;
	width: 24px;
	margin: -12px 0 0 -12px
}
.pp_fade, .pp_gallery li.default a img, div.ppt {
	display: none
}
#pp_full_res {
	line-height: 1!important
}
#pp_full_res .pp_inline {
	text-align: left
}
#pp_full_res .pp_inline p {
	margin: 0 0 15px
}
div.ppt {
	color: #fff;
	font-size: 17px;
	z-index: 9999;
	margin: 0 0 5px 15px
}
div.light_rounded .pp_content, div.pp_default .pp_content {
	background-color: #fff
}
div.facebook #pp_full_res .pp_inline, div.facebook .pp_content .ppt, div.light_rounded #pp_full_res .pp_inline, div.light_rounded .pp_content .ppt, div.light_square #pp_full_res .pp_inline, div.light_square .pp_content .ppt, div.pp_default #pp_full_res .pp_inline {
	color: #000
}
.pp_gallery li.selected a, .pp_gallery ul a:hover, div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a {
	border-color: #fff
}
div.dark_rounded .pp_details, div.dark_square .pp_details, div.facebook .pp_details, div.light_rounded .pp_details, div.light_square .pp_details, div.pp_default .pp_details {
	position: relative
}
div.facebook .pp_content, div.light_rounded .pp_bottom .pp_middle, div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right, div.light_rounded .pp_top .pp_middle, div.light_square .pp_content, div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right {
	background: #fff
}
div.light_rounded .pp_description, div.light_square .pp_description {
	margin-right: 85px
}
div.dark_rounded .pp_gallery a.pp_arrow_next, div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next, div.dark_square .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next, div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next, div.light_square .pp_gallery a.pp_arrow_previous {
	margin-top: 12px!important
}
div.dark_rounded .pp_arrow_previous.disabled, div.dark_square .pp_arrow_previous.disabled, div.light_rounded .pp_arrow_previous.disabled, div.light_square .pp_arrow_previous.disabled {
	background-position: 0 -87px;
	cursor: default
}
div.dark_rounded .pp_arrow_next.disabled, div.dark_square .pp_arrow_next.disabled, div.light_rounded .pp_arrow_next.disabled, div.light_square .pp_arrow_next.disabled {
	background-position: -22px -87px;
	cursor: default
}
div.light_rounded .pp_loaderIcon, div.light_square .pp_loaderIcon {
	background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat
}
div.dark_rounded .pp_bottom .pp_middle, div.dark_rounded .pp_content, div.dark_rounded .pp_top .pp_middle {
	background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left
}
div.dark_rounded .currentTextHolder, div.dark_square .currentTextHolder {
	color: #c4c4c4
}
div.dark_rounded #pp_full_res .pp_inline, div.dark_square #pp_full_res .pp_inline {
	color: #fff
}
.pp_bottom, .pp_top {
	height: 20px;
	position: relative
}
* html .pp_bottom, * html .pp_top {
	padding: 0 20px
}
.pp_bottom .pp_left, .pp_top .pp_left {
	height: 20px;
	left: 0;
	position: absolute;
	width: 20px
}
.pp_bottom .pp_middle, .pp_top .pp_middle {
	height: 20px;
	left: 20px;
	position: absolute;
	right: 20px
}
* html .pp_bottom .pp_middle, * html .pp_top .pp_middle {
	left: 0;
	position: static
}
.pp_bottom .pp_right, .pp_top .pp_right {
	height: 20px;
	left: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px
}
/* Begin Styling */
.um-gallery-popup {
	position: relative;
	background: #FFF;
	padding: 0px;
	width: auto;
	max-width: 550px;
	margin: 20px auto;
	border-radius: 3px;
	min-height: 200px;
}
.um-gallery-form-header input#album_name {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #eee;
	padding-left: 6px;
}
input#savePhoto {
    margin-right: 10px;
    width: 100%;
    margin-bottom: 4px;
}
#um-gallery-caption-edit{
	text-decoration: none;
}
.um-gallery-img {
    position: relative;
}
.um-gallery-action {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 8px;
}
.um-gallery-action > a{
	visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
	padding: 0px 0px 3px 6px;
	font-size: 16px;
	background: #3ba1da;
	color: #fff !important;
	border-radius: 50%;
	width: 20px;
	height: 24px;
}
.um-gallery-img:hover .um-gallery-action > a {
	display: inline-block !important;
	visibility: visible;
  opacity: 1;
}
.um-gallery-form-header textarea#album_description {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #eee;
	padding: 6px;
}
div.um-gallery-popup .um-gallery-upload {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 20px;
	box-sizing: border-box;
	border: 2px dashed #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	line-height: 1em;
}
div.um-gallery-popup .um-gallery-upload span.icon {
	display: block;
	font-size: 80px;
	line-height: 80px;
	vertical-align: middle;
	margin-bottom: 10px;
}
div.um-gallery-popup .um-gallery-upload span.str {
	display: block;
	margin: 0 0 15px;
}
.um-user-gallery-box {
	position: relative;
	background: #FFF;
	padding: 0px;
	width: auto;
	max-height: 533px;
	max-width: 1063px;
	margin: 20px auto;
}
.um-user-gallery-inner {
	background-color: #fff;
}
.um-user-gallery-inner > div {
	float: left;
}
.um-user-gallery-inner:after {
	content: "";
	clear: both;
	display: block;
}
.um-user-gallery-left {
	width: 70%;
	position: relative;
	background-color: #000;
}
.um-user-gallery-image-wrap {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.um-user-gallery-image-wrap .image-holder {
	width: 768px;
	height: 533px;
}
.um-user-gallery-right {
	width: 30%;
    text-align: left;
}
.um-user-gallery-right .um-user-gallery-right-inner{
padding: 15px 15px 8px;
}
.um-user-gallery-image-options {
	position: absolute;
	bottom: 0px;
	z-index: 99;
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 40px;
	text-align: right;
	line-height: 40px;
	color: #fff;
	font-size: 11px;
}
.um-user-gallery-options {
	padding-right: 25px;
	display: block;
}
.um-user-gallery-image-options a {
	color: #fff;
}
.um-user-gallery-desc-section {
	padding: 20px 30px;
	min-height: 130px;
	overflow: auto;
	color: #7a7a7a;
}
.um-user-gallery-comment-section {
	background-color: #f7f7f7;
	padding: 35px 20px;
	min-height: 210px;
	overflow: auto;
}
.um-user-gallery-title-secion {
	padding: 28px 0px;
}
a.um-user-gallery-post-btn {
	display: block !important;
	background: #8a0000;
	color: #fff !important;
	margin-top: 10px;
}
.um-user-gallery-title {
	font-size: 14px;
	font-weight: bold;
	display: none;
}
div#um-user-gallery-description {
	margin-top: 20px;
	font-size: 12px;
	line-height: 14px;
}
.um-user-gallery-tab ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.um-user-gallery-tab ul li {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	width: 50%;
}
.um-user-gallery-tab ul li a {
	padding: 10px 20px;
	background: #ccc;
	width: 100%;
	display: block;
	text-align: center;
}
.umgc-comment {
}
.umgc-name {
}
.umgc-text {
}
#comments {
	display: block;
	margin: 0px;
	padding: 0px;
}
#comments .cmmnt, ul .cmmnt, ul ul .cmmnt {
	display: block;
	position: relative;/* padding-left: 65px; *//* border-top: 1px solid #ddd; */
}
#comments .cmmnt .avatar {
	position: absolute;
	top: 8px;
	left: 0;
	display: none;
}
#comments .cmmnt .avatar img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
#comments .cmmnt .avatar a:hover img {
	opacity: 0.77;
}
#comments .cmmnt .cmmnt-content {
	padding: 0px 3px;
	padding-bottom: 12px;
	padding-top: 8px;
}
#comments .cmmnt .cmmnt-content header {
	font-size: 15px;
	display: block;
	margin-bottom: 2px;
}
#comments .cmmnt .cmmnt-content header .pubdate {
	color: #777;
}
#comments .cmmnt .cmmnt-content header .userlink {
	font-weight: bold;
}
#comments .cmmnt .replies {
	margin-bottom: 7px;
}
.um-user-gallery-modify {
	display: none;
}
.um-user-gallery-modify > div {
	margin-bottom: 10px;
}
.um-user-gallery-modify input[type=text], .um-user-gallery-modify textarea {
	width: 100%;
}
.um-gallery-caption-edit-wrapper {
	margin-top: 30px;
}
.um-gallery-title a {
	padding: 4px;
}
.um-gallery-album-list {
	display: flex;
}
.um-gallery-grid-item {
	/* flex: 1;

			border: 1px solid #eee;
			float: left;*/
	margin: 4px;
	cursor: pointer;
	float: left;
	/*margin: 0 4% 4% 0;*/
	position: relative;
	border: 1px solid #ddd;
	width: 150px;
	-webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.um-gallery-inner {
	background: #fff;
}
.um-gallery-img {
/* border-bottom: 1px solid #eee; */
}
.um-gallery-img a {
	display: block;
}
.um-gallery-info {
	min-height: 40px;/* padding: 4px; */
}
.um-gallery-title, .um-gallery-title a {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	display: block;
}
.um-gallery-count{
	font-size: 10px;
	padding: 4px;
}
.um-gallery-album-head{
	text-align: center;
}
.um-gallery-title h2 {
	font-size: 11px;
	font-weight: 600;
	height: 18px;
	margin: 0;
	padding: 8px;
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background: #fff;
	background: rgba(255,255,255,.65);
}
.um-gallery-form-field {
    margin-bottom: 10px;
}
a.um-gallery-form.um-gallery-btn,
.um-gallery-btn {
    margin-left: 4px;
    padding: 4px 8px;
    position: relative;
    top: -3px;
    text-decoration: none;
    border: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}
.um-gallery-album-back i {
    font-size: 11px;
}
.um-gallery-album-list a{
	text-decoration: none;
}
.um-user-gallery-user {
    text-align: center;
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 20px;
}

.um-user-gallery-user .avatar {
    border-radius: 50%;
}
.um-user-gallery-user a{
	font-size: 12px;
}
a#um-gallery-caption-edit {
    font-size: 12px;
}
body.admin-bar div#um-gallery-modal {
    margin-top: 38px;
}
.um-profile-body.main .um-gallery-delete-item{
	display: none;
}
@media screen and (max-width: 480px) {
	.um-gallery-grid-item {
	    /*width: 100%;
	    text-align: center;
	    float: none;*/
	    margin-bottom: 10px;
	    margin-left: 0px;
	    margin-right: 0px;
	}

	.um-gallery-img img {
	    text-align: center;
	    margin: 0 auto !important;
	    display: block;
	}
	.um-gallery-action {
	    position: relative;
	    top: 0px;
	    right: 0px;
	}

	.um-gallery-action > a {
	    visibility: visible;
	    opacity: 1;
	    width: 100%;
	    border-radius: 0px;
	    text-align: center;
	    margin: 4px 0px;
	}

	.um-gallery-album-list .um-gallery-img {
	    height: inherit;
	}
	.um-gallery-mask {
	    position: relative;
	    bottom: 0px;
	    left: 0px;
	    margin-top: 6px;
	}
	.dropzone .dz-preview {
	    margin: 4px;
	}
	a.um-gallery-delete-item {
	    display: block;
	    width: 100%;
	    border-radius: 0px;
	    text-align: center;
	}
	.um-profile-body.main .um-gallery-delete-item{
		display: none;
	}
	.um-user-gallery-inner > div {
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.um-user-gallery-image-wrap .image-holder {
		height: 320px;
	}
}
